{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
