{
    "extends": ["airbnb", "prettier"],
    "plugins": [
        "react",
        "jsx-a11y",
        "prettier"
    ],
    "rules": {
        "no-underscore-dangle": "off",
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 120 }]
    },
    "env": {
        "jest": true
    }
}
