@font-face {
  font-family: 'ReithSans';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/BBCReithSans_W_Rg.woff') format('woff');
}

@font-face {
  font-family: 'ReithSans';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/BBCReithSans_W_It.woff') format('woff');
}

@font-face {
  font-family: 'ReithSans';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/BBCReithSans_W_Bd.woff') format('woff');
}

@font-face {
  font-family: 'ReithSans';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/BBCReithSans_W_BdIt.woff') format('woff');
}

body,
textarea {
  font-family: 'ReithSans', Helvetica, Arial, sans-serif;
}
